# Default owner for all files. This is a catch-all that can be overridden by more
# specific rules defined below
* @LonghornRacingElectric/electronics
/VCU/ @LonghornRacingElectric/control-systems 
/BEVO/ @LonghornRacingElectric/data-acquisition
/HVC/ @LonghornRacingElectric/power-systems
